body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    height: 500px; /* Statt 80vh, um Probleme mit flexibler Höhe zu vermeiden */
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 2px solid #333;
    border-radius: 10px;
}